# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
.venv/
.env/

# DVC
.dvc/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
models/*
!models/.gitkeep

# Jupyter
.ipynb_checkpoints/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup

# Docker
*.log

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
